<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amministratore</title>
</head>
<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<font color="black" size="5">
								<header>
									<h1><a href="index.html" id="logo">Gestionale per condomini</a></h1>
									<hr />
									<p><b>Questo sito ti permette di gestire i tuoi vari condomini</b></p>
								</header>
								<footer>
									<a asp-action="Elenco" class="button circled scrolly">Start</a>
								</footer>
							</font>
						</div>

				</div>
			<!-- Banner  -->
				<section id="banner">
					<header>
						<h2>Hi. You're looking at <strong>Helios</strong>.</h2>
					</header>
				</section>
	
								@* <!-- Contact -->
									<section class="contact">
										<header>
											<h3>Nisl turpis nascetur interdum?</h3>
										</header>
										<p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
										<ul class="icons">
											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									
										</ul>
									</section>  *@

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Sito fatto da Mattia Zaghini.</li><li>GitHub: <a href="https://github.com/mattiazaghini/5H_Zaghini_Mattia.git">HTML5 UP</a></li>
										</ul>
									</div>
								<p>Amministratore@gmail.com Admin1.</p>
							</div>

						</div>
					</div>
				</div>
		</div>
</body>
</html>