@model _5H_Zaghini_Mattia.Models.AggiungeUnitaImm
@{
    var a= Model;
    ViewData["Title"] ="Grazie";
}
<br><br>
<div class="text-center">
    <h1 class="display-4">Unità immobiliari</h1>
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Numero Civico: </th>
                <th>Superficie (mq)</th>
                <th>Persone</th>
                <th>Piano dell'alloggio</th>
                
                </tr>
            </thead>
        <tbody>
            
            <tr>
                <td asp-for="NumeroCivico"></td>
                 <td asp-for="Superficie"></td>
                 <td asp-for="nPersone"></td>
                 <td asp-for="NumeroPiano"></td>
                 
            </tr>
            
        </tbody>
    </table>
</div>